
.config .config-image {
  height: 100px; 
  width: 100px;
  margin-top: 5px;
}
.config .config-link {
  margin-top: -106px;
  display: block;
  margin-left: 105px;
  color: red;
  margin-bottom: 100px;
}

h2 {
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
h4 {
  margin: 0;
}
table {
  margin: auto;
}
.qr_name {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
table tr td {
  padding: 10px;
}
