<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
	style="min-height: 400px;  background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-info opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-7 col-md-10">
				<h1 class="display-2 text-white">Single News </h1>
				<p class="text-white mt-0 mb-5">This is your News page. You can select author, tags and add/edit News content
					you've and manage your News</p>
				<!-- <a href="#!" class="btn btn-info">Edit Pages</a> -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Edit News</h3>
						</div>
					</div>
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addBlogForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">

							<div class="form-group">
								<label for="exampleInputEmail1">Status</label>
								<select name="status" formControlName="status" class="form-control">
									<option value="true">Active</option>
									<option value="false">Deactive</option>
								</select>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Date</label>
								<input type="date" name="date" autocomplete="off" formControlName="date" class="form-control"
									placeholder="Date" [max]="currentDate" >
								<span *ngIf="submitted && hasError('date','required')" class="alert-danger">Date is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Select News Category</label>
								<select name="blog_category" formControlName="blog_category" class="form-control">
									<option value="">Select News Category</option>
									<option value="{{cat._id}}" *ngFor="let cat of categoryData; let j = index">{{cat.name}}</option>
								</select>
								<span *ngIf="submitted && hasError('blog_category','required')" class="alert-danger">Please
									Select Category</span>
							</div>


							<div class="form-group">
								<label for="exampleInputEmail1">Name</label>
								<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
									placeholder="News Name">
								<span *ngIf="submitted && hasError('name','required')" class="alert-danger">News Name is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Description</label>
								<textarea name="content_html" formControlName="content_html" class="form-control"
									placeholder="Description"></textarea>
								<span *ngIf="submitted && hasError('content_html','required')" class="alert-danger">Description is
									required</span>
							</div>



							<!-- <div class="form-group">
								<label for="exampleInputEmail1">Select Tag</label>
								<select name="Tag" formControlName="tag" multiple class="form-control">
									<option value="">Select Tag</option>
									<option value="{{listTag._id}}" *ngFor="let listTag of tagData; let j = index">{{listTag.name}}
									</option>
								</select>
								<span *ngIf="submitted && hasError('tag','required')" class="alert-danger">Tag is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Select Author</label>
								<select name="author" formControlName="author" class="form-control">
									<option value="">Select Author</option>
									<option value="{{listAuthor._id}}" *ngFor="let listAuthor of authorData; let j = index">
										{{listAuthor.name}}</option>
								</select>
								<span *ngIf="submitted && hasError('author','required')" class="alert-danger">Author is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Featured</label>
								<select name="featured" formControlName="featured" class="form-control">
									<option value="">Select Featured</option>
									<option value="true">Active</option>
									<option value="false">InActive</option>
								</select>
								<span *ngIf="submitted && hasError('featured','required')" class="alert-danger">Featured is
									required</span>
							</div> -->

							<div class="pixtar-ordiv">
								<!-- <div class="alert alert-danger" style="margin-left: 0;" *ngIf="videomsg">
									Please Select Video And Image Both for Video Infographics Category
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Video Link</label>
									<input type="text" name="video_link" autocomplete="off" formControlName="video_link"
										class="form-control" placeholder="Video Link">
								</div> -->

								<div class="form-group">
									<div class="form-group">
										<label for="exampleInputEmail1">Article link</label>
										<input type="text" name="source_link" autocomplete="off" formControlName="source_link"
											class="form-control" placeholder="Article link">
									</div>
								</div>

								<div class="gslor"> OR</div>
<br>
								<div class="form-group">
									<label for="exampleInputEmail1">Upload Image</label><br>
									<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event)"
										[uploadInput]="uploadInput" accept="image/*" />
									<label for="exampleInputEmail1" style="display: block;">(Required Size 514 * 554)</label>
									<img *ngIf="blogImage" alt="logo" style="height: 100px; width: 100px;"
										src="{{imagePath}}{{blogImage}}">
								</div>

								<div class="gslor"> OR</div>
<br>
								<div class="form-group">
									<label for="exampleInputEmail1">Youtube Video URL Key</label>
									<p>Ex: https://www.youtube.com/watch?v=wiur_AGatGU</p>
									<input type="text" name="video_link" formControlName="video_link" class="form-control"
										placeholder="wiur_AGatGU">
									<span *ngIf="submitted && hasError('video_link','required')" class="alert-danger">Video URL is
										required</span>
								</div>

							</div>





							<!-- <div class="form-group">
								<label for="exampleInputEmail1">Content Html</label>
								<angular-editor name="content_html" formControlName="content_html"
									[config]="editorConfig"></angular-editor>
								<span *ngIf="submitted && hasError('content_html','required')" class="alert-danger">Content Html is
									required</span>
							</div> -->



							<div class="form-group">
								<label for="exampleInputEmail1">Meta Title</label>
								<input type="text" name="meta_title" autocomplete="off" formControlName="meta_title"
									class="form-control" placeholder="Meta Title">
								<span *ngIf="submitted && hasError('meta_title','required')" class="alert-danger">Meta Title is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Meta Keywords</label>
								<input type="text" name="meta_keywords" autocomplete="off" formControlName="meta_keywords"
									class="form-control" placeholder="Meta Keywords">
								<span *ngIf="submitted && hasError('meta_keywords','required')" class="alert-danger">Meta Keywords is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Meta Description</label>
								<textarea name="meta_description" autocomplete="off" formControlName="meta_description"
									class="form-control" placeholder="Meta Description"></textarea>
								<span *ngIf="submitted && hasError('meta_description','required')" class="alert-danger">Meta Description
									is
									required</span>
							</div>



						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
