.filter_vendor{float: right;width: auto;margin: 8px 12px 0px 0px;}

.detailmaster-pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #36aef5;
}

.btn-primary {
  color: #ffffff;
  background-color: #423f3f;
  border-color: #423f3f
}

.title{
  font-size: 30px;
}
.box-title{
  font-size: 60px;
}
