<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Authors List</h3>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">
                                <input class="form-control" type="text" (keyup)="searchAuthor()" name="search" [(ngModel)]="searchText"
                                          autocomplete="off" placeholder="&#61442;  Start searching a User  name or email">
                            </h4>
                        </div>
                        <div class="col-md-6"><button type="button" class="btn btn-primary pull-right custom-btn"
                                routerLink="/author/add">Add Author</button></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="title"></h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Author Name</th>
                                <th>Author Title</th>
                                <th>Author Image</th>
                                <th>Social</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="6" *ngIf="msg_danger">
                                <div class="alert alert-dismissable" style="text-align: center;">
                                    Author List is Empty
                                </div>
                            </td>
                            <tr *ngFor="let listAuthor of authorData | filter:searchText; let i = index">
                                <td *ngIf="currentPage == 1">{{i+1}}</td>
                                <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                                <td>{{listAuthor.name}}</td>
                                <td>{{listAuthor.title}}</td>
                                <td><img src="{{imagePath}}{{listAuthor.image}}" alt="logo"
                                        style="height: 100px;width: 100px;"></td>
                                <td>
                                    <p *ngIf="listAuthor.facebook_link"><a
                                            href="{{listAuthor.facebook_link}}">Facebook</a></p>
                                    <p *ngIf="listAuthor.twitter_link"><a href="{{listAuthor.twitter_link}}">Twitter</a>
                                    </p>
                                    <p *ngIf="listAuthor.youtube_link"><a href="{{listAuthor.youtube_link}}">Youtube</a>
                                    </p>
                                    <p *ngIf="listAuthor.instagram_link"><a
                                            href="{{listAuthor.instagram_link}}">Instagram</a></p>
                                    <p *ngIf="listAuthor.linkedin_link"><a
                                            href="{{listAuthor.linkedin_link}}">Linkedin</a></p>
                                    <p *ngIf="listAuthor.tiktok_link"><a href="{{listAuthor.tiktok_link}}">Tiktok</a>
                                    </p>
                                    <p *ngIf="listAuthor.telegram_link"><a
                                            href="{{listAuthor.telegram_link}}">Telegram</a></p>
                                </td>
                                <td *ngIf="listAuthor.isDeleted == false">Active</td>
                                <td *ngIf="listAuthor.isDeleted == true">InActive</td>
                                <td>
                                    <a routerLink="/author/edit/{{listAuthor._id}}" style="cursor:pointer"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a style="cursor:pointer;padding-left: 15px;"
                                        (click)="deleteAuthor(listAuthor._id)"><i class="fa fa-trash-o"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="detailmaster-pagination" *ngIf="totalRecord > 0 && !searchText">
                        <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                            (changePage)="onListChangePage($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
