<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
	<div class="container-fluid">
		<div class="header-body">
			<!-- Card stats -->

		</div>
	</div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Awards List</h3>
				</div>
				<div class="col-md-12 mb-4">
					<div class="row">
						<div class="col-md-6">
							<input class="form-control" type="text" (keyup)="searchAward()" name="search" [(ngModel)]="searchText"
								autocomplete="off" placeholder="&#61442;  Start searching a Award  name">
						</div>
						<div class="col-md-6"><button type="button" class="btn btn-primary pull-right custom-btn"
								routerLink="/award/add">Add Award</button></div>
					</div>
				</div>
				<div class="col-md-12">
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead>
							<tr>
								<th>SL No</th>
								<th>Award Name</th>
								<!-- <th>Format</th> -->
								<th>Award Image</th>

								<!-- <th>Approved</th> -->
								<th>Created At</th>
								<th>Status
									<ng-toggle [(ngModel)]="isactive" [disabled]="config.disabled" [width]="config.width"
										[height]="config.height" [margin]="config.margin" [labels]="config.labels" [color]="config.color"
										[switchColor]="config.switchColor" [fontColor]="config.fontColor" [fontSize]="config.fontSize"
										(click)="changeStatus()" required>
									</ng-toggle>
									<a (click)="resetFilter()" class="btn btn-sm btn-info mr-4">Reset</a>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<td colspan="6" *ngIf="msg_danger">
								<div class="alert alert-dismissable" style="text-align: center;">
									Award List is Empty
								</div>
							</td>
							<tr *ngFor="let listAward of AwardData | filter:searchText | activefilter:isactive; let i = index">
								<td *ngIf="currentPage == 1">{{i+1}}</td>
								<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
								<td>{{listAward.name}}</td>
								<!-- <td *ngIf="listAward.media_data">{{listAward.media_data[0].file_type}}</td> -->
								<!-- <td *ngIf="listAward.media_data">
									<img *ngIf="listAward.media_data && listAward.media_data[0].file_type =='image'"
										src="{{imagePath}}/award/{{listAward.media_data[0].src}}" alt="logo"
										style="height: 100px;width: 100px;">
									<video *ngIf="listAward.media_data && listAward.media_data[0].file_type =='video'" width="100"
										height="100" controls>
										<source src="{{imagePath}}/award/{{listAward.media_data[0].src}}" type="video/mp4">
									</video>
								</td> -->
								<td><img src="{{imagePath}}{{listAward.image}}" alt="logo"
									style="height: 100px;width: 100px;"></td>
								<!-- <td>{{listAward.isApproved == true ? 'Yes':'No'}}</td> -->
								<td>{{listAward.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
								<td>{{listAward.status == true ? 'Active':'Deactive'}}</td>
								<td>
									<a routerLink="/award/edit/{{listAward._id}}" style="cursor:pointer"><i class="fa fa-pencil-square-o"
											aria-hidden="true"></i>
									</a>
									<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,listAward)"><i
											class="fa fa-trash-o" aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="detailmaster-pagination" *ngIf="totalRecord > 0 && !searchText">
						<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
							(changePage)="onListChangePage($event)"></app-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Award Delete Popup -->
	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Award Image deletion</h4>
			<button type="button" class="btn btn-danger" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedAward">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedAward.name}}"</span> Award
					Image?</strong>
			</p>
			<!-- <p>
				All information associated to this Award Image will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p> -->
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-primary" (click)="deleteAward()">Ok</button>
		</div>
	</ng-template>
