<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Contact List</h3>
                </div>
                <div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<input class="form-control mt-4" type="text" (keyup)="searchContact()" name="search" [(ngModel)]="searchText"
                                          autocomplete="off" placeholder="&#61442;  Start searching a Client  name">
						</div>
					</div>
					<div class="col-md-6">
						<h4 class="title"></h4>
					</div>
				</div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>First Name</th>
                                <!-- <th>Last Name</th> -->
                                <th>Email</th>
                                <th>Phone</th>
                                <!-- <th>Subject</th> -->
                                <th>Message</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="4" *ngIf="msg_danger">
                                <div class="alert alert-dismissable" style="text-align: center;">
                                    Conatct List is Empty
                                </div>
                            </td>
                            <tr *ngFor="let listContact of contactData | filter:searchText; let i = index">
                                <td *ngIf="currentPage == 1">{{i+1}}</td>
                                <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                                <td>{{listContact.firstname}}</td>
                                <!-- <td>{{listContact.lastname}}</td> -->
                                <td>{{listContact.email}}</td>
                                <td>{{listContact.phone}}</td>
                                <!-- <td><p *ngFor="let sub of listContact.subject">{{sub.name}}</p></td> -->
                                <td>{{listContact.message}}</td>
                                <td>{{listContact.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
                                <td><a style="cursor:pointer;padding-left: 15px;"
                                        (click)="deletecontact(listContact._id)"><i class="fa fa-trash-o"
                                            aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="detailmaster-pagination" *ngIf="totalRecord > 0  | filter:searchText;">
                        <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                            (changePage)="onListChangePage($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
