.detailmaster-pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #36aef5;
}

.btn-primary {
  color: #ffffff;
  background-color: #423f3f;
  border-color: #423f3f
}
.card.shadow{
	margin-bottom: 5rem;
}
