<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Career List</h3>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control mt-4" type="text" (keyup)="searchCareer()" name="search" [(ngModel)]="searchText"
                                          autocomplete="off" placeholder="&#61442;  Start searching a Career by id or name">
                        </div>
                        <div class="col-md-6"><button type="button" class="btn btn-primary pull-right custom-btn"
                                routerLink="/career/add">Add Career</button></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="title"></h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Type</th>
                                <th>Created At</th>
                                <th>Action</th>
                                <th>Document</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="5" *ngIf="msg_danger">
                                <div class="alert alert-dismissable" style="text-align: center;">
                                    Career List is Empty
                                </div>
                            </td>
                            <tr *ngFor="let cData of careerData | filter:searchText; let i = index">
                                <td *ngIf="currentPage == 1">{{i+1}}</td>
                                <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                                <td>{{cData.firstname}}</td>
                                <td>{{cData.lastname}}</td>
                                <td>{{cData.email}}</td>
                                <td>{{cData.mobile}}</td>
                                <td>{{cData.type}}</td>
                                <td>{{cData.created_at | date: 'dd/MMM/yyyy hh:mm a'}}</td>
                                <td>
                                    <a routerLink="/career/edit/{{cData._id}}" style="cursor:pointer"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a style="cursor:pointer;padding-left: 15px;" (click)="deleteCareer(cData._id)"><i
                                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <a *ngIf = "cData.documents" style="cursor:pointer;padding-left: 15px;" href="{{imagePath}}career/{{cData.documents}}" target="_blank">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="detailmaster-pagination" *ngIf="totalRecord > 0 && !searchText">
                        <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                            (changePage)="onListChangePage($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
