<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 400px;  background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-info opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Teams Information </h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
                    your work
                    and manage your projects or assigned tasks</p>
                <!-- <a href="#!" class="btn btn-info">Edit Pages</a> -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Edit Teams</h3>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
                        {{throw_msg}}
                    </div>
                    <div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
                        {{throw_msg}}
                    </div>
                </div>
                <div class="card-body">
                    <!-- form start -->
                    <form [formGroup]="addTeamsForm" (ngSubmit)="onSubmit()" method="post" novalidate>
                        <div class="box-body">
                            <div class="form-group"> 
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" name="name" autocomplete="off" formControlName="name"
                                    class="form-control mb-2" placeholder="Name">
                                <span *ngIf="submitted && hasError('name','required')" class="alert-danger">Name is
                                    required</span>
                            </div>
                            <div class="form-group"> 
                              <label for="exampleInputEmail1">Email</label>
                              <input type="text" name="name" autocomplete="off" formControlName="email"
                                  class="form-control mb-2" placeholder="Email">
                              <span *ngIf="submitted && hasError('email','required')" class="alert-danger">Email is
                                  required</span>
                          </div>

                            

                            <div class="form-group"> 
                                <label for="exampleInputEmail1">Phone</label>
                                <input type="text" name="phone" autocomplete="off" formControlName="phone"
                                    class="form-control mb-2" placeholder="Phone">
                                <!-- <span *ngIf="submitted && hasError('phone','required')" class="alert-danger">Phone is
                                    required</span> -->
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Status</label>
                                <select name="status" formControlName="status" class="form-control mb-2">
                                  <option value="">Select Status</option>
                                    <option value="false">Active</option>
                                    <option value="true">InActive</option>
                                </select>
                                <span *ngIf="submitted && hasError('status','required')" class="alert-danger">Status is
                                  required</span>
                            </div>
                         
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label> 
                                   <textarea name="text" autocomplete="nope" formControlName="description" 
                                        class="form-control mb-2" placeholder="Teams Information"></textarea>
                                <span *ngIf="submitted && hasError('description','required')" class="alert-danger">Teams Information is
                                    required</span>
                            </div> 
                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Job</label> 
                                <ng-select [items]="jobs" bindLabel="name" placeholder="Select Job" appendTo="body"
                                    [multiple]="true" formControlName="job">
                                </ng-select>
                                <span *ngIf="submitted && hasError('job','required')" class="alert-danger">Job is
                                    required</span>
                            </div>  -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Job</label>
                                <select name="job" formControlName="job" class="form-control mb-2">
                                    <option value="">Select Job</option>
                                    <option value="User">User</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Developer">Developer</option>
                                    <option value="Others">Others</option>
                                </select>
                                <span *ngIf="submitted && hasError('job','required')" class="alert-danger">Job is
                                  required</span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Image</label><br>
                                <input   
                                    type="file" 
                                    #uploader 
                                    ngFileSelect 
                                    (uploadOutput)="onUploadOutput($event)" 
                                    [uploadInput]="uploadInput"
                                /><br>
                                <label for="exampleInputEmail1" style="display: block;">(Required Size 141 * 141)</label><br>
                                <img  *ngIf="ImageName" alt="logo" style="height: 100px; width: 100px;" src="{{imagePath}}{{ImageName}}">
                            </div>
                      </div>
                       <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>