<div class="loginblock d-flex flex-column justify-content-center align-items-center">
<div class="header w-100">
  <div class="container">
    <div class="header-body text-center mb-3">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
          <h1 class="text-white1">Welcome!</h1>
          <h1>Dr. Minnie Admin Dashboard</h1>
          <!-- <p class="text-lead text-light">Login here to Add/Edit new records</p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div> -->
</div>
<!-- Page content -->
<div class="container ">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0">
        <!-- <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div> -->
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            
            <img src="assets/img/brand/dr-minnieadminlogo.png" class="d-block mb-4 mx-auto" alt="">
            <small>Login to your account</small>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
            <div class="alert alert-danger" *ngIf="loginError2">
              {{loginErrorMsg}}
           </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" name="email" formControlName="email"  autocomplete="off"> 
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" name="password" formControlName="password"
                autocomplete="off">
              </div>
            </div>
            <!-- <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div> -->
            <div class="custom-control custom-control-alternative custom-checkbox pl-0">
             
              <a href="{{baseUrl}}/#/forgot-password" class="text-light"><small>Forgot password?</small></a>
            </div>
            <div class="text-center">
              <button class="btn btn-primary my-4">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="/#/forgot-password" class="text-light1"><small>Forgot password?</small></a>
        </div>
        
      </div> -->
    </div>
  </div>
  <p class="text-light1 mt-3 text-center"><small >Copyright © 2024 Dr. Minnie All rights reserved</small></p>
</div>
</div>