body.bg-default
{
    background-color: #eae3e1 !important;
}
.loginblock{
  min-height: 100vh;
}
footer.py-5{
  display: none;
}
.btn-primary{
  background-color: #32325d;
  border-color: #32325d;
  
}