<!-- <div class="container-fluid px-1 py-5 mx-auto">
	<div class="row d-flex justify-content-center">
		<div class="col-xl-12 col-lg-12 col-md-12 col-11">
			<h3 class="text-center">Award Information</h3>
			<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
				{{throw_msg}}
			</div>
			<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
				{{throw_msg}}
			</div>
			<div class="card">
				<form [formGroup]="addawardForm" (ngSubmit)="onSubmit()" method="post" novalidate>
					<div class="box-body">

						<div class="form-group">
							<label for="exampleInputEmail1">Name</label>
							<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
								placeholder="Award Name">
							<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Award Name is required</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Status</label>
							<select name="status" formControlName="status" class="form-control">
								<option value="">Select Status</option>
								<option value="active">Active</option>
								<option value="deactive">Deactive</option>
							</select>
							<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select Art</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Short Title</label>
							<input type="text" name="short_desc" formControlName="short_desc" class="form-control">
							<span *ngIf="submitted && hasError('short_desc','required')" class="alert-danger">Short Description is
								required</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Main Title</label>
							<angular-editor name="description" formControlName="description" [config]="editorConfig"></angular-editor>
							<span *ngIf="submitted && hasError('description','required')" class="alert-danger">Description is
								required</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Award Image</label>
							<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event,'icon')"
								[uploadInput]="uploadInput" />
							<img *ngIf="awardImage" alt="logo" style="height: 100px; width: 100px;margin-top: 5px;"
								src="{{imagePath}}{{awardImage}}">
						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-cancel" routerLink="/award-images/view">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> -->


<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
	style="min-height: 400px; background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-info opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-12 col-md-10">
				<h1 class="display-2 text-white" *ngIf="id">Update/Edit Award  </h1>
				<h1 class="display-2 text-white" *ngIf="!id">Add New Award  </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Edit Award</h3>
						</div>
					</div>
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addawardForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
	
							<div class="form-group">
								<label for="exampleInputEmail1">Name</label>
								<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
									placeholder="Award Name">
								<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Award Name is required</span>
							</div>
	
							<div class="form-group">
								<label for="exampleInputEmail1">Status</label>
								<select name="status" formControlName="status" class="form-control">
									<option value="">Select Status</option>
									<option value="true">Active</option>
									<option value="false">Deactive</option>
								</select>
								<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select Art</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Short Title</label>
								<input type="text" name="short_desc" formControlName="short_desc" class="form-control">
								<span *ngIf="submitted && hasError('short_desc','required')" class="alert-danger">Short Description is
									required</span>
							</div>
	
							<div class="form-group">
								<label for="exampleInputEmail1">Main Title</label>
								<angular-editor name="description" formControlName="description" [config]="editorConfig"></angular-editor>
								<span *ngIf="submitted && hasError('description','required')" class="alert-danger">Description is
									required</span>
							</div>
	
							<div class="form-group">
								<label for="exampleInputEmail1">Award Image</label><br>
								<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event,'image')"
									[uploadInput]="uploadInput" /><br>
								<img *ngIf="awardImage" alt="logo" style="height: 100px; width: 100px;margin-top: 5px;"
									src="{{imagePath}}{{awardImage}}">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">URL Key</label>
								<input type="text" name="url_key" formControlName="url_key" class="form-control">
								<span *ngIf="submitted && hasError('url_key','required')" class="alert-danger">Url Key is	required</span>
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="button" class="btn btn-danger" routerLink="/award-images/view">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>