<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
	style="min-height: 400px;  background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-info opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-12 col-md-10">
				<h1 class="display-2 text-white">Single Podcast Category </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Edit Achievement Category</h3>
						</div>
					</div>
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">

							<div class="form-group">
								<label for="exampleInputEmail1">Name</label>
								<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
									placeholder="Category Name">
								<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Category Name is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Category Image</label>
								<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event)"
									[uploadInput]="uploadInput" />
								<label for="exampleInputEmail1" style="display: block;">(Required Size 141 * 141)</label>
								<img *ngIf="categoryImage" alt="logo" style="height: 100px; width: 100px;"
									src="{{imagePath}}{{categoryImage}}">
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Description</label>
								<angular-editor name="description" formControlName="description"
									[config]="editorConfig"></angular-editor>
								<span *ngIf="submitted && hasError('description','required')" class="alert-danger">Description is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Url Key</label>
								<input type="text" name="url_key" autocomplete="off" formControlName="url_key" class="form-control"
									placeholder="Meta Title">
								<span *ngIf="submitted && hasError('url_key','required')" class="alert-danger">URL Key is
									required</span>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Status</label>
								<select name="status" formControlName="status" class="form-control">
									<option value="false">Active</option>
									<option value="true">InActive</option>
								</select>
							</div>

						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
