<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
	style="min-height: 400px;  background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-info opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-7 col-md-10">
				<h1 class="display-2 text-white">Service </h1>
				<p class="text-white mt-0 mb-5">This is your Service page. You can see the progress you've made with your work
					and manage your Service</p>
				<!-- <a href="#!" class="btn btn-info">Edit Pages</a> -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Edit service</h3>
						</div>
					</div>
					<div class="alert alert-success alert-dismissable" style="margin-left: 0;" *ngIf="msg_success">
						{{throw_msg}}
					</div>
					<div class="alert alert-danger alert-dismissable" style="margin-left: 0;" *ngIf="msg_danger">
						{{throw_msg}}
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addServiceForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
							<div class="form-group">
								<label for="exampleInputEmail1">Service Name</label>
								<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
									placeholder="Service Name">
								<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Service Name
									is
									required</span>
								<span *ngIf="submitted && hasError('name','maxlength')" class="alert-danger">Please
									Enter the 30 length Service Name</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Short Description</label>
								<textarea name="short_desc" autocomplete="off" formControlName="short_desc" class="form-control"
									placeholder="Short Description"></textarea>
								<span *ngIf="submitted && hasError('short_desc','required')" class="alert-danger">Short Description is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Description</label>
								<angular-editor name="desc" formControlName="desc" [config]="editorConfig">
								</angular-editor>
								<span *ngIf="submitted && hasError('desc','required')" class="alert-danger">Description is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Service Price</label>
								<!-- Using Items Input -->
								<input type="number" name="price" autocomplete="off" formControlName="price" class="form-control"
									placeholder="Service Price">
								<span *ngIf="submitted && hasError('price','required')" class="alert-danger">Price is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Link</label>
								<input type="text" name="link" autocomplete="off" formControlName="link" class="form-control"
									placeholder="Service Link">
								<span *ngIf="submitted && hasError('link','required')" class="alert-danger">Link is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Service Image</label><br>
								<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event,'service')"
									[uploadInput]="uploadInput" /><br>
								<label for="exampleInputEmail1" style="display: block;">(Required Size 141 *
									141)</label>
								<img *ngIf="serviceImage" alt="logo" style="height: 100px; width: 100px;"
									src="{{imagePath}}{{serviceImage}}">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Home Page Service Image</label><br>
								<input type="file" #uploader ngFileSelect (uploadOutput)="onUploadOutput($event,'home')"
									[uploadInput]="uploadInput" /><br>
								<label for="exampleInputEmail1" style="display: block;">(Required Size 141 *
									141)</label>
								<img *ngIf="homeserviceImage" alt="logo" style="height: 100px; width: 100px;"
									src="{{imagePath}}{{homeserviceImage}}">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Sequence Number</label>
								<input type="number" name="sequence_number" autocomplete="off" formControlName="sequence_number"
									class="form-control" placeholder="Sequence Number">
								<span *ngIf="submitted && hasError('sequence_number','required')" class="alert-danger">Sequence Number
									is required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Status</label>
								<select name="status" formControlName="status" class="form-control">
									<option value="true">Active</option>
									<option value="false">InActive</option>
								</select>
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>